# virtual environments
.venv/

# MacOS
.DS_Store

# env files
.env

# .idea
.idea/
!.idea/inspectionProfiles/*
!.idea/vcs.xml
!.idea/modules.xml
!.idea/misc.xml
!.idea/intelligentTranslaitor.iml

# Python cache
__pycache__/
*.pyc